.grid-container {
  display: grid;
  height: 400px;
  align-content: end;
  grid-template-columns: auto auto auto;
  grid-gap: 0px;
  background-color: pink;
  padding: 10px;
}
.grid-container > div {
  background-color: pink;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
